.primary-content-container {
    display: flex;
    gap: 2rem;
    justify-content: space-between;
    width: 100%;
}

.main-content {
    width: 60%;
}

.aside-contact {
    width: 40%;
}

.locations-container {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
}

.info-container-icon {
    font-size: 24px;
    align-items: stretch;
    display: flex;
}

.location-info-container {
    display: flex;
    justify-content: flex-start;
    gap: 1rem;
}
  
.our-office {
    width: 100%;
    height: 100%;
    flex-shrink: 0;
}

.carousel-button {
    border: none;
}

.names-container {
    display: flex;
    gap: 2rem;
    margin-top: 1rem;
}

.message-contact-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    row-gap: 24px;
    padding: 1rem;
    box-shadow: 0 4px 8px 0 gray;
}

.iti {
    width: 100%;
}