.logo-image {
    width: 70px;
    height: 70px;
}

.nav-link {
    color: black;
    text-decoration: none;
    font-family: 'Inter', Arial, Helvetica, sans-serif;
    font-size: 16px;
    cursor: pointer;
}

.top-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 24px;
}

.nav-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 80px;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 60px;
}

.login-register-container {
    display: flex;
    align-items: center;
    gap: 50px;
}